<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <!-- Main Content -->
    <section id="content">
        <h2>Welcome to Services Page!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsum iure, ea quae adipisci dolorem sint aut officia eos molestias corporis similique ad, magni deleniti. Cum repellendus nulla velit id!</p>
     </section>

     <script>
        console.log("Services Page");
     </script>
</body>
</html>